@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(http://fonts.gstatic.com/s/roboto/v15/7MygqTe2zs9YkP0adA9QQQ.ttf) format("truetype"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v15/dtpHsbgPEm2lVWciJZ0P-A.ttf) format("truetype"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v15/W5F8_SL0XFawnjxHGsZjJA.ttf) format("truetype"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(http://fonts.gstatic.com/s/roboto/v15/Uxzkqj-MIMWle-XP2pDNAA.ttf) format("truetype"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v15/bdHGHleUa-ndQCOrdpfxfw.ttf) format("truetype"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(http://fonts.gstatic.com/s/roboto/v15/H1vB34nOKWXqzKotq25pcg.ttf) format("truetype"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url(http://fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgIAWxXGWZ3yJw6KhWS7MxOk.ttf) format("truetype"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS9-WlPSxbfiI49GsXo3q0g.ttf) format("truetype"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(http://fonts.gstatic.com/s/robotoslab/v6/3__ulTNA7unv0UtplybPiqCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJXe1Pd76Vl7zRpE7NLJQ7XU.ttf) format("truetype"); }

.react-changelog-container .changelog-title {
  margin: 30px 0;
  text-align: center; }

.react-changelog-container .changelog-date {
  font-size: 20px; }

.react-changelog-container .changelog-version {
  font-size: 25px; }

.react-changelog-container .changelog-scroll-to {
  font-size: 15px;
  padding-right: 20px; }

.react-changelog-container .changelog-scroll-to i {
  margin-left: 10px; }

.react-changelog-container .changelog-update-description {
  font-size: 15px; }

.react-changelog-container .changelog-scroll-to-list-item:hover {
  background-color: #eaedf1; }

.react-changelog-container .changelog-checkbox:checked + .changelog-checkbox-label:before,
.react-changelog-container .changelog-file-changed:before,
.react-changelog-container .changelog-version a:after {
  font-family: FontAwesome; }

.react-changelog-container .changelog-filters {
  text-align: left;
  padding: 20px 0 17px 15px; }

.react-changelog-container .changelog-filters .changelog-checkbox-label {
  display: block;
  margin-bottom: 10px; }

.react-changelog-container .changelog-scroll-to {
  position: relative;
  border: 1px solid #cbd3dd;
  margin: 15px 30px 15px 15px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 3px; }

.react-changelog-container .changelog-scroll-to-list {
  text-align: left; }

.react-changelog-container .changelog-update-description {
  position: relative;
  padding-left: 0;
  padding-top: 55px; }

.react-changelog-container .changelog-type {
  width: 100%; }

.react-changelog-container .changelog-switch {
  display: none; }

.react-changelog-container .changelog-files-changed,
.react-changelog-container .changelog-item.changelog-view-files .changelog-update-descriptions {
  display: block; }

.react-changelog-container .changelog-files-changed-toolbar:before {
  content: "File filter";
  display: block;
  background-color: #fff;
  padding: 10px 15px; }

.react-changelog-container .changelog-files-changed-filters li {
  float: none;
  width: 100%;
  text-align: left;
  border-top: 1px solid #cbd3dd; }

.react-changelog-container .changelog-files-changed-filter {
  text-indent: 0;
  padding: 5px 15px;
  font-size: 14px; }

.react-changelog-container .changelog-wrapper {
  width: 700px;
  max-width: 100%;
  margin: 0 auto; }

.react-changelog-container .changelog-state-new {
  color: #98c74e; }

.react-changelog-container .changelog-state-updated {
  color: #ff4f26; }

.react-changelog-container .changelog-state-removed {
  color: red; }

.react-changelog-container .changelog-filters {
  background-color: #fcfcfc;
  padding: 20px 0 17px 20px;
  text-align: left;
  font-weight: 300;
  border: 1px solid #cbd3dd;
  position: relative;
  top: 1px;
  border-radius: 3px 3px 0 0; }

.react-changelog-container .changelog-filters .changelog-link {
  height: 30px;
  bottom: -30px;
  background-color: #f2f2f2; }

.react-changelog-container .changelog-filters label {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px; }

.react-changelog-container .changelog-filters input {
  margin-right: 5px; }

.react-changelog-container .changelog-checkbox {
  opacity: 0;
  position: absolute; }

.react-changelog-container .changelog-checkbox,
.react-changelog-container .changelog-checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer; }

.react-changelog-container .changelog-checkbox-label {
  position: relative;
  color: #676b6e; }

.react-changelog-container .changelog-checkbox + .changelog-checkbox-label:before {
  content: "";
  background: #fff;
  border: 1px solid #cbd3dd;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 13px;
  text-align: center;
  margin-top: -4px; }

.react-changelog-container .changelog-checkbox:checked + .changelog-checkbox-label:before {
  content: "\f00c";
  background: #98c74e;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid transparent; }

.react-changelog-container .call-to-action,
.react-changelog-container .page-404,
.react-changelog-container .video-section {
  background-size: cover; }

.react-changelog-container .changelog-item {
  border: 1px solid #cbd3dd;
  padding: 30px 40px;
  margin-bottom: 100px;
  position: relative;
  border-radius: 3px; }

.react-changelog-container .changelog-item.changelog-view-files .changelog-update-descriptions {
  display: none; }

.react-changelog-container .changelog-item.changelog-view-files .changelog-files-changed {
  display: block; }

.react-changelog-container .changelog-item.changelog-view-files .changelog-switch:before {
  display: none; }

.react-changelog-container .changelog-item.changelog-view-files .changelog-switch:after {
  display: block; }

.react-changelog-container .changelog-item:after,
.react-changelog-container .changelog-item:before {
  display: block;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #cbd3dd;
  border-radius: 50%;
  left: 50%;
  background-color: #fff;
  margin-left: -4px;
  z-index: 2; }

.react-changelog-container .changelog-item:first-child {
  border-radius: 0 0 3px 3px; }

.react-changelog-container .changelog-item:first-child:before,
.react-changelog-container .changelog-item:last-child .changelog-link,
.react-changelog-container .changelog-item:last-child:after {
  display: none; }

.react-changelog-container .changelog-item:after {
  bottom: -4px; }

.react-changelog-container .changelog-item:before {
  top: -4px; }

.react-changelog-container .changelog-link {
  position: absolute;
  bottom: -101px;
  left: 50%;
  width: 1px;
  height: 100px;
  background-color: #cbd3dd; }

.react-changelog-container .changelog-header {
  position: relative; }

.react-changelog-container .changelog-version {
  margin: 0; }

.react-changelog-container .changelog-version a {
  color: inherit;
  text-decoration: none; }

.react-changelog-container .changelog-version a:hover:after {
  opacity: 0.8; }

.react-changelog-container .changelog-version a:after {
  content: "\f0c1";
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  font-size: 18px;
  vertical-align: 1px;
  color: #808488;
  margin-left: 10px;
  opacity: 0.4; }

.react-changelog-container .changelog-date {
  margin: 5px 0 0;
  font-size: 0.875em;
  color: #808488; }

.react-changelog-container .changelog-switch {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 15px;
  color: #808488;
  font-weight: 300;
  border: 1px solid #c5c5c5;
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  width: 190px;
  text-align: center; }

.react-changelog-container .changelog-switch:before {
  content: "veiw updated files";
  display: block; }

.react-changelog-container .changelog-switch:after {
  content: "view updated features";
  display: none; }

.react-changelog-container .changelog-update-description {
  line-height: 25px;
  position: relative;
  padding-left: 115px;
  margin-top: 20px;
  border-top: 1px solid #cbd3dd;
  padding-top: 20px; }

.react-changelog-container .changelog-files-changed {
  display: none; }

.react-changelog-container .changelog-update-description.changelog-improvement .changelog-type {
  background-color: #4aa3ba; }

.react-changelog-container .changelog-update-description.changelog-bug-fix .changelog-type {
  background-color: #da5c53; }

.react-changelog-container .changelog-type {
  background-color: #98c74e;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 19px; }

.react-changelog-container .changelog-files-changed-toolbar {
  background-color: #f6f7f8;
  margin: 30px 0 35px;
  z-index: 2;
  border: 1px solid #cbd3dd;
  border-radius: 3px;
  font-size: 14px; }

.react-changelog-container .changelog-files-changed-filters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #73777b;
  position: relative; }

.react-changelog-container .changelog-files-changed-filters li {
  float: left;
  width: 33.33%;
  text-align: center; }

.react-changelog-container .changelog-files-changed-filters:after {
  display: block;
  clear: both;
  content: ""; }

.react-changelog-container .changelog-files-changed-filter {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  text-indent: -10px;
  -webkit-transition: opacity 0.3s ease, background-color 0.3s ease;
  -moz-transition: opacity 0.3s ease, background-color 0.3s ease;
  -ms-transition: opacity 0.3s ease, background-color 0.3s ease;
  -o-transition: opacity 0.3s ease, background-color 0.3s ease;
  transition: opacity 0.3s ease, background-color 0.3s ease; }

.react-changelog-container .changelog-files-changed-filter.inactive {
  opacity: 0.4; }

.react-changelog-container .changelog-files-changed-filter.inactive i {
  color: #808488; }

.react-changelog-container .changelog-files-changed-filter:hover {
  background-color: #e8eaed; }

.react-changelog-container .changelog-files-changed-filter i {
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease; }

.react-changelog-container .blog-grid-image-over,
.react-changelog-container .changelog-file-changed:after {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease; }

.react-changelog-container .changelog-file-changed {
  padding-bottom: 20px;
  border-top: 1px solid #cbd3dd;
  padding-top: 20px;
  line-height: 25px;
  font-weight: 300;
  position: relative; }

.react-changelog-container .changelog-file-changed:before {
  content: "\f016";
  color: #98c74e;
  margin-right: 6px;
  font-size: 15px; }

.react-changelog-container .changelog-file-changed:after {
  opacity: 0;
  position: absolute;
  display: block;
  content: " ";
  right: 0;
  top: 20px;
  background-color: #fff;
  font-size: 14px;
  padding: 0 5px;
  width: 70px;
  text-align: center;
  border-radius: 3px;
  transition: opacity 0.25s ease; }

.react-changelog-container .changelog-file-changed.changelog-file-updated:before {
  content: "\f021";
  color: #ff4f26; }

.react-changelog-container .changelog-file-changed.changelog-file-updated:hover:after {
  opacity: 1;
  color: #ff4f26;
  border: 1px solid #ff4f26;
  content: "updated"; }

.react-changelog-container .changelog-file-changed.changelog-file-new:before {
  content: "\f067"; }

.react-changelog-container .changelog-file-changed.changelog-file-new:hover:after {
  opacity: 1;
  color: #98c74e;
  border: 1px solid #98c74e;
  content: "new"; }

.react-changelog-container .changelog-file-changed.changelog-file-removed:before {
  content: "\f00d";
  color: red; }

.react-changelog-container .changelog-file-changed.changelog-file-removed:hover:after {
  opacity: 1;
  color: red;
  border: 1px solid red;
  content: "removed"; }

.react-changelog-container .article-meta-item:before,
.react-changelog-container .article-meta:after,
.react-changelog-container .blog-grid-meta:after {
  content: ""; }

.react-changelog-container input.changelog-input {
  display: none; }

.react-changelog-container .changelog-scroll-to {
  position: absolute;
  display: block;
  top: 0;
  line-height: 73px;
  height: 100%;
  padding: 0 10px 0 25px;
  right: 0;
  cursor: pointer;
  border-left: 1px solid #dae0e7;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  color: #676b6e; }

.react-changelog-container .comment-reply .comment-list-item,
.react-changelog-container .comment-reply:before {
  border-left: 1px solid #cbd3dd;
  border-top: 1px solid #cbd3dd; }

.react-changelog-container .changelog-scroll-to:hover {
  background-color: #fcfcfc; }

.react-changelog-container .changelog-scroll-to:hover .changelog-scroll-to-list {
  display: block; }

.react-changelog-container .changelog-scroll-to i {
  font-size: 20px;
  vertical-align: middle;
  color: #333; }

.react-changelog-container .changelog-scroll-to-list {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  z-index: 5;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 225px;
  left: -1px;
  right: -1px;
  border: 1px solid #cbd3dd;
  text-align: center;
  overflow-y: scroll; }

.react-changelog-container .changelog-scroll-to-list-item {
  border-bottom: 1px solid #eaedf1; }

.react-changelog-container .changelog-scroll-to-list-item:last-child {
  border-bottom: 0; }

.react-changelog-container .changelog-scroll-to-list-item a {
  text-decoration: none;
  padding: 8px 15px;
  color: inherit;
  display: block;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease; }

.react-changelog-container .changelog-scroll-to-list-item a:hover {
  color: #28c; }
