.react-changelog-container .changelog-title {
  margin: 30px 0;
  text-align: center; }

.react-changelog-container .changelog-date {
  font-size: 20px; }

.react-changelog-container .changelog-version {
  font-size: 25px; }

.react-changelog-container .changelog-scroll-to {
  font-size: 15px;
  padding-right: 20px; }

.react-changelog-container .changelog-scroll-to i {
  margin-left: 10px; }

.react-changelog-container .changelog-update-description {
  font-size: 15px; }

.react-changelog-container .changelog-scroll-to-list-item:hover {
  background-color: #eaedf1; }
